#### This notebook is not intend to be run. It exists to show steps necessary to load data to github.

In [ ]:
!pip install ucimlrepo # bash command to install ucimlrepo package
# might not work in all environments

In [2]:
import pandas as pd
from ucimlrepo import fetch_ucirepo
from scipy.io import arff

# Blood transfusion

In [5]:
blood = arff.loadarff("/Users/mat/Downloads/php0iVrYT.arff")
blood = pd.DataFrame(blood[0])
blood["y"] = 0
blood.loc[blood["Class"] == b"2", "y"] = 1
blood = blood.drop(columns="Class")
blood.to_csv("data/blood.csv", index=False)

# Diabetes

In [22]:
data = arff.loadarff('/Users/mat/Downloads/dataset_37_diabetes.arff')
df = pd.DataFrame(data[0])
df["y"] = 0
df.loc[df["class"] == b"tested_positive", "y"] = 1
df = df.drop(columns="class")
df.to_csv('data/diabetes.csv', index=False)

# Rice

In [13]:
# fetch dataset
rice_cammeo_and_osmancik = fetch_ucirepo(id=545)

# data (as pandas dataframes)
X = rice_cammeo_and_osmancik.data.features
y = rice_cammeo_and_osmancik.data.targets

# concat x and y
data = pd.concat([X, y], axis=1)
data.to_csv("data/rice.csv", index=False)

# Raisin

In [4]:
raisin = pd.read_csv(
    "https://storage.googleapis.com/kagglesdsdata/datasets/4428495/7606227/Raisin_Dataset.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240318%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240318T133833Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=9703aaa497306a70f46fb7c6e415cf0c94a2f8823008260f9cb1aa8490db1bcbd68b4c0cc38768b469f8abdf44f2c38e05530f542459d11bb79137700e9ac9427e863154cc714f9f61bed9e11ff370c8409157f5aaec1d75a63dfeed65ef4d4b45c6bdd26fbc4369cee7022e5ec1f52aed03dba397266ed32142b3df9827ea8259dc4a3c30a941e2e9716eb74f92bf15a99f76dfbd4a4a67bcc42a99a0e51fbe8ca4db91943afd7c3c7d0b9a32f102d971e230758a70185ca4b013dea03a2078a81e60afeb84ce1ce76a914e60ab2a60159cd46c9f6fb3303d6a864d55ba00f311a0d0bfc5a5c76a79b713587a44a073cd4cbd71cdcb963f4272ec26f7a65027"
)
raisin.to_csv("data/raisin.csv", index=False)

# Aids

In [14]:
# fetch dataset
aids_clinical_trials_group_study_175 = fetch_ucirepo(id=890)

# data (as pandas dataframes)
X = aids_clinical_trials_group_study_175.data.features
y = aids_clinical_trials_group_study_175.data.targets
data = pd.concat([X, y], axis=1)
data.to_csv("data/aids.csv", index=False)

In [16]:
aids_clinical_trials_group_study_175.metadata

{'uci_id': 890,
 'name': 'AIDS Clinical Trials Group Study 175',
 'repository_url': 'https://archive.ics.uci.edu/dataset/890/aids+clinical+trials+group+study+175',
 'data_url': 'https://archive.ics.uci.edu/static/public/890/data.csv',
 'abstract': 'The AIDS Clinical Trials Group Study 175 Dataset contains healthcare statistics and categorical information about patients who have been diagnosed with AIDS. This dataset was initially published in 1996. The prediction task is to predict whether or not each patient died within a certain window of time or not. ',
 'area': 'Health and Medicine',
 'tasks': ['Classification', 'Regression'],
 'characteristics': ['Tabular', 'Multivariate'],
 'num_instances': 2139,
 'num_features': 23,
 'feature_types': ['Categorical', 'Integer'],
 'demographics': ['Age', 'Sexual Orientation', 'Race', 'Gender'],
 'target_col': ['cid'],
 'index_col': ['pidnum'],
 'has_missing_values': 'no',
 'missing_values_symbol': None,
 'year_of_dataset_creation': 1996,
 'last_updated': 'Fri Nov 03 2023',
 'dataset_doi': '10.24432/C5ZG8F',
 'creators': ['S. Hammer',
  'D. Katzenstein',
  'M. Hughes',
  'H. Gundacker',
  'R. Schooley',
  'R. Haubrich',
  'W. K.',
  'M. Lederman',
  'J. Phair',
  'M. Niu',
  'M. Hirsch',
  'T. Merigan'],
 'intro_paper': {'title': 'A trial comparing nucleoside monotherapy with combination therapy in HIV-infected adults with CD4 cell counts from 200 to 500 per cubic millimeter. AIDS Clinical Trials Group Study 175 Study Team.',
  'authors': 'S. Hammer, D. Katzenstein, M. Hughes, H. Gundacker, R. Schooley, R. Haubrich, W. K. Henry, M. Lederman, J. Phair, M. Niu, M. Hirsch, T. Merigan',
  'published_in': 'New England Journal of Medicine',
  'year': 1996,
  'url': 'https://www.semanticscholar.org/paper/c7c401dd7d49ead07e70b299e422b27314589d2f',
  'doi': None},
 'additional_info': {'summary': None,
  'purpose': 'To examine the performance of two different types of AIDS treatments',
  'funded_by': '- AIDS Clinical Trials Group of the National Institute of Allergy and Infectious Diseases\n- General Research Center units funded by the National Center for Research Resources',
  'instances_represent': '- Health records\n- AIDS patients\n- US only',
  'recommended_data_splits': 'Cross validation or a single train-test split could be used.',
  'sensitive_data': '- Ethnicity (race)\n- Gender',
  'preprocessing_description': 'No',
  'variable_info': '- Personal information (age, weight, race, gender, sexual activity)\n- Medical history (hemophilia, history of IV drugs)\n- Treatment history (ZDV/non-ZDV treatment history)\n- Lab results (CD4/CD8 counts)',
  'citation': None},
 'external_url': 'https://classic.clinicaltrials.gov/ct2/show/NCT00000625'}

# Polish Bankruptcy

In [6]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
polish_companies_bankruptcy = fetch_ucirepo(id=365)

# data (as pandas dataframes)
X = polish_companies_bankruptcy.data.features
y = polish_companies_bankruptcy.data.targets

# metadata
print(polish_companies_bankruptcy.metadata)

# variable information
print(polish_companies_bankruptcy.variables)

{'uci_id': 365, 'name': 'Polish Companies Bankruptcy', 'repository_url': 'https://archive.ics.uci.edu/dataset/365/polish+companies+bankruptcy+data', 'data_url': 'https://archive.ics.uci.edu/static/public/365/data.csv', 'abstract': 'The dataset is about bankruptcy prediction of Polish companies.The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.', 'area': 'Business', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 10503, 'num_features': 65, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 2016, 'last_updated': 'Sat Mar 09 2024', 'dataset_doi': '10.24432/C5F600', 'creators': ['Sebastian Tomczak'], 'intro_paper': {'title': 'Ensemble boosted trees with synthetic features generation in application to bankruptcy prediction', 'authors': 'Maciej Ziȩba, S. Tomczak, Jakub M. Tomczak', 'published_in': 'Expert systems with applications', 'year': 2016, 'url': 'https://www.semanticscholar.org/paper/c0b86d47505223db7e6085c10dd797169a32fa78', 'doi': '10.1016/j.eswa.2016.04.001'}, 'additional_info': {'summary': 'The dataset is about bankruptcy prediction of Polish companies. The data was collected from Emerging Markets Information Service (EMIS, http://www.securities.com), which is a database containing information on emerging markets around the world. The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.\r\nBasing on the collected data five classification cases were distinguished, that depends on the forecasting period:\r\n- 1stYear â€“ the data contains financial rates from 1st year of the forecasting period and corresponding class label that indicates bankruptcy status after 5 years. The data contains 7027 instances (financial statements), 271 represents bankrupted companies, 6756 firms that did not bankrupt in the forecasting period.\r\n- 2ndYear â€“ the data contains financial rates from 2nd year of the forecasting period and corresponding class label that indicates bankruptcy status after 4 years. The data contains 10173 instances (financial statements), 400 represents bankrupted companies, 9773 firms that did not bankrupt in the forecasting period.\r\n- 3rdYear â€“ the data contains financial rates from 3rd year of the forecasting period and corresponding class label that indicates bankruptcy status after 3 years. The data contains 10503 instances (financial statements), 495 represents bankrupted companies, 10008 firms that did not bankrupt in the forecasting period.\r\n- 4thYear â€“ the data contains financial rates from 4th year of the forecasting period and corresponding class label that indicates bankruptcy status after 2 years. The data contains 9792 instances (financial statements), 515 represents bankrupted companies, 9277 firms that did not bankrupt in the forecasting period.\r\n- 5thYear â€“ the data contains financial rates from 5th year of the forecasting period and corresponding class label that indicates bankruptcy status after 1 year. The data contains 5910 instances (financial statements), 410 represents bankrupted companies, 5500 firms that did not bankrupt in the forecasting period.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'X1\tnet profit / total assets\r\nX2\ttotal liabilities / total assets\r\nX3\tworking capital / total assets\r\nX4\tcurrent assets / short-term liabilities\r\nX5\t[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365\r\nX6\tretained earnings / total assets\r\nX7\tEBIT / total assets\r\nX8\tbook value of equity / total liabilities\r\nX9\tsales / total assets\r\nX10\tequity / total assets\r\nX11\t(gross profit + extraordinary items + financial expenses) / total assets\r\nX12\tgross profit / short-term liabilities\r\nX13\t(gross profit + depreciation) / sales\r\nX14\t(gross profit + interest) / total assets\r\nX15\t(total liabilities * 365) / (gross profit + depreciation)\r\nX16\t(gross profit + depreciation) / total liabilities\r\nX17\ttotal assets / total liabilities\r\nX18\tgross profit / total assets\r\nX19\tgross profit / sales\r\nX20\t(inventory * 365) / sales\r\nX21\tsales (n) / sales (n-1)\r\nX22\tprofit on operating activities / total assets\r\nX23\tnet profit / sales\r\nX24\tgross profit (in 3 years) / total assets\r\nX25\t(equity - share capital) / total assets\r\nX26\t(net profit + depreciation) / total liabilities\r\nX27\tprofit on operating activities / financial expenses\r\nX28\tworking capital / fixed assets\r\nX29\tlogarithm of total assets\r\nX30\t(total liabilities - cash) / sales\r\nX31\t(gross profit + interest) / sales\r\nX32\t(current liabilities * 365) / cost of products sold\r\nX33\toperating expenses / short-term liabilities\r\nX34\toperating expenses / total liabilities\r\nX35\tprofit on sales / total assets\r\nX36\ttotal sales / total assets\r\nX37\t(current assets - inventories) / long-term liabilities\r\nX38\tconstant capital / total assets\r\nX39\tprofit on sales / sales\r\nX40\t(current assets - inventory - receivables) / short-term liabilities\r\nX41\ttotal liabilities / ((profit on operating activities + depreciation) * (12/365))\r\nX42\tprofit on operating activities / sales\r\nX43\trotation receivables + inventory turnover in days\r\nX44\t(receivables * 365) / sales\r\nX45\tnet profit / inventory\r\nX46\t(current assets - inventory) / short-term liabilities\r\nX47\t(inventory * 365) / cost of products sold\r\nX48\tEBITDA (profit on operating activities - depreciation) / total assets\r\nX49\tEBITDA (profit on operating activities - depreciation) / sales\r\nX50\tcurrent assets / total liabilities\r\nX51\tshort-term liabilities / total assets\r\nX52\t(short-term liabilities * 365) / cost of products sold)\r\nX53\tequity / fixed assets\r\nX54\tconstant capital / fixed assets\r\nX55\tworking capital\r\nX56\t(sales - cost of products sold) / sales\r\nX57\t(current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)\r\nX58\ttotal costs /total sales\r\nX59\tlong-term liabilities / equity\r\nX60\tsales / inventory\r\nX61\tsales / receivables\r\nX62\t(short-term liabilities *365) / sales\r\nX63\tsales / short-term liabilities\r\nX64\tsales / fixed assets', 'citation': None}}
     name     role        type demographic description units missing_values
0    year  Feature     Integer        None        None  None             no
1      A1  Feature  Continuous        None        None  None             no
2      A2  Feature  Continuous        None        None  None             no
3      A3  Feature  Continuous        None        None  None             no
4      A4  Feature  Continuous        None        None  None            yes
..    ...      ...         ...         ...         ...   ...            ...
61    A61  Feature  Continuous        None        None  None            yes
62    A62  Feature  Continuous        None        None  None             no
63    A63  Feature  Continuous        None        None  None            yes
64    A64  Feature  Continuous        None        None  None            yes
65  class   Target     Integer        None        None  None             no

[66 rows x 7 columns]

In [7]:
df = pd.concat([X, y], axis=1)
df.to_csv("data/polish_companies_bankruptcy.csv", index=False)

# Heart Disease Health Indicators

In [10]:
data = pd.read_csv("/Users/mat/Downloads/heart_disease_health_indicators_BRFSS2015.csv")
data.to_csv("data/heart.csv", index=False)

#    communities-and-crime-binary

In [39]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
communities_and_crime = fetch_ucirepo(id=183)

# data (as pandas dataframes)
X = communities_and_crime.data.features
y = communities_and_crime.data.targets

y = y >= 0.2
y = y.astype(int)
# name for y add prefix target to column name
y = y.add_prefix("target_")
y

      target_ViolentCrimesPerPop
0                              1
1                              1
2                              1
3                              0
4                              0
...                          ...
1989                           0
1990                           1
1991                           1
1992                           0
1993                           1

[1994 rows x 1 columns]

In [40]:
df = pd.concat([X, y], axis=1)
df.replace("?", pd.NA, inplace=True)

In [41]:
to_drop = df.columns[df.isna().any()].tolist()
print(to_drop)
df = df.drop(columns=to_drop)

['county', 'community', 'OtherPerCap', 'LemasSwornFT', 'LemasSwFTPerPop', 'LemasSwFTFieldOps', 'LemasSwFTFieldPerPop', 'LemasTotalReq', 'LemasTotReqPerPop', 'PolicReqPerOffic', 'PolicPerPop', 'RacialMatchCommPol', 'PctPolicWhite', 'PctPolicBlack', 'PctPolicHisp', 'PctPolicAsian', 'PctPolicMinor', 'OfficAssgnDrugUnits', 'NumKindsDrugsSeiz', 'PolicAveOTWorked', 'PolicCars', 'PolicOperBudg', 'LemasPctPolicOnPatr', 'LemasGangUnitDeploy', 'PolicBudgPerPop']

In [42]:
df

,state,communityname,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,agePct12t21,...,PctForeignBorn,PctBornSameState,PctSameHouse85,PctSameCity85,PctSameState85,LandArea,PopDens,PctUsePubTrans,LemasPctOfficDrugUn,target_ViolentCrimesPerPop
0,8,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,0.17,0.34,...,0.12,0.42,0.50,0.51,0.64,0.12,0.26,0.20,0.32,1
1,53,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,1
2,24,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,0.04,0.39,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,1
3,34,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,0.10,0.51,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,0
4,42,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,0.05,0.38,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,12,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,0.16,0.43,...,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.00,0
1990,6,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,0.32,0.69,...,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.00,1
1991,9,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,0.25,0.35,...,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.91,1
1992,25,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,0.10,0.58,...,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.22,0
1993,6,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,0.77,0.50,...,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,1.00,1

In [44]:
df.to_csv("data/communities_and_crime.csv", index=False)